@import '../../shared/mixin.scss';

.dialog-add-channel {
	border-radius: 30px !important;
	padding: 40px !important;
	width: 872px;
}

.headline {
	@include displayFlex($jc: space-between);

	.channel-name,
	.channel-name-two {
		@include displayFlex();
		gap: 16px;
	}
}

.content {
  border: 1px solid #ADB0D9;
	border-radius: 30px;
	flex-direction: column;
	width: auto;
	padding: 16px 24px;
	margin-top: 16px;

	input {
		border: 0;
	}

	.edit {
		@include displayFlex($jc: space-between)
	}

	.input-description {
    border: 1px solid #ADB0D9;
		border-radius: 30px;
		width: auto;
		padding: 16px 24px;
		margin-top: 16px;
	}

	.channel-name-two-input {
		@include displayFlex($jc: flex-start);
		border: 1px solid #ADB0D9;
		border-radius: 30px;
		width: auto;
		padding: 16px 24px;
		margin-top: 16px;

		&:focus-within {
			border: 2px solid black;
		}

		input:focus-visible {
			outline: 0;
		}

		img {
			width: 24px;
			height: 24px;
		}
	}

	.channel-name-two {
		@include displayFlex($jc: flex-start);
		padding-top: 24px;

		img {
			width: 24px;
			height: 24px;
		}
	}

	.edit+p {
		padding-top: 20px;
	}
}

.created-by {
	border-top: 1px solid #ADB0D9;
	margin-top: 32px;
	padding-top: 32px;

	.name {
		font-size: 1.333rem;
		padding-top: 20px;
	}
}

.actions {
	@include displayFlex($jc: flex-end);
	margin-top: 24px;
}

@media screen and (max-width: 1200px) {
  .dialog-add-channel {
    width: 500px;
  }
}

@media screen and (max-width: 730px) {
  .dialog-add-channel {
    width: 400px;
  }
}

@media screen and (max-width: 630px) {
  .dialog-add-channel {
    width: auto;
  }
}
