@import '../../../../mixin.scss';

.profile-container {
  width: 420px;
  padding: 40px;
}

.header, .edit {
  @include displayFlex($jc: space-between);
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 24px auto;
}

.name, .email {
	@include displayFlex($jc: flex-start);
	gap: 16px;
}

input {
	border: 1px solid #ADB0D9;
  border-radius: 30px;
	width: calc(100% - 64px);
	margin-top: 8px;
	padding: 16px 24px;

	&:focus-visible {
		outline: none;
	}
}

.buttons {
  @include displayFlex();
  gap: 32px;
}

@media screen and (max-width: 630px) {
  .profile-container {
    width: auto;
    padding: 16px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }
}
