<div class="site-menu">

  <!-- Devspace -->
  <div class="devspace-container">
    <div class="devspace">
      <img src="./assets/img/channels/workspace-logo.svg" alt="">
      <h3>Devspace</h3>
    </div>

    <!-- Write new message -->
    <div class="write-icon icon-hover c-pointer" (click)="open_new_chat()">
      <img src="./assets/img/channels/edit_square.svg" alt="edit-square">
    </div>
  </div>

  <!-- Channel accordion -->
  <app-site-menu-drop-down
    [open_accordion]="true"
    [title]="'channels'"
    [rightIcon]="true"
    [name]="name"
    [description]="description"
    [members]="members"
    [icon]="'workspaces'"
    [openDialog]="true">
    @for (channel of getList(); track $index) {

      <!-- Channel -->
      <div class="team" [routerLink]="['./channels', channel.name.toLowerCase()]" routerLinkActive="active" (click)="openChat(channel.name)">
      <img src="./assets/img/channels/tag.svg" alt="">
      <p>{{ channel.name }}</p>
    </div>
    }
  </app-site-menu-drop-down>

  <!-- Directmessage accordion -->
  <app-site-menu-drop-down
  [open_accordion]="false"
  [title]="'direktnachrichten'"
  [icon]="'account_circle'">
    @for (item of personObjArray; track $index) {

    <!-- Directmessage -->
    <div class="direct-message c-pointer" [routerLink]="['./users', item.member.toLowerCase()]" routerLinkActive="active" (click)="showDirectChat(item.member)">
      <div class="avatar">
        <img src="{{ item.avatar }}" alt="">
        @if (item.isOnline) {
        <div class="online"></div>
        }
      </div>
      <p>{{ item.member }}</p>
    </div>
    }
  </app-site-menu-drop-down>
</div>
