<div class="site-menu">
	<div class="devspace-container">
		<div class="devspace">
			<img src="./assets/img/channels/workspace-logo.svg" alt="">
			<h3>Devspace</h3>
		</div>
		<img (click)="open_new_chat()" src="./assets/img/channels/edit_square.svg" alt="">
	</div>
	<div class="channels-container">
		<div class="overview">
			<div class="left">
				<img (click)="channel_open_function()" class="arrow" [ngClass]="{'open' : channel_open}"
					src="./assets/img/channels/arrow_drop_down.svg" alt="">
				<div class="title">
					<img src="./assets/img/channels/workspaces.svg" alt="">
					<h4>Channels</h4>
				</div>
			</div>
			<img (click)="openDialog()" src="./assets/img/channels/add.svg" alt="">
		</div>
		<div class="channel-container" [ngClass]="{'open' : channel_open}">
			@for (channel of getList(); track $index) {
			<div class="team-container" (click)="openChat(channel.name)">
				<div class="team">
					<img src="./assets/img/channels/tag.svg" alt="">
					<p>{{ channel.name }}</p>
				</div>
			</div>
			}
			<div (click)="openDialog()" class="add-channel">
				<img src="./assets/img/channels/add_circle.svg" alt="">
				<p>Channel hinzufügen</p>
			</div>
		</div>
	</div>
	<div class="direct-messages">
		<div class="overview">
			<img (click)="directmessage_open_function()" class="arrow" [ngClass]="{'open' : directmessage_open}"
				src="./assets/img/channels/arrow_drop_down.svg" alt="">
			<div class="title">
				<img src="./assets/img/channels/account_circle.svg" alt="">
				<h4>Direktnachrichten</h4>
			</div>
		</div>
		<div class="directmessage-container" [ngClass]="{'open' : directmessage_open}">
			@for (group of (this.channelFirestore.groupedDirectMessages| keyvalue); track $index) {
				@if (group.key == globalVariables.signed_in_member.displayName) {
					@for (groupValue of group.value; track $index) {
					<div (click)="open_directmessages_chat(groupValue.receiver)" class="direct-message">
						<div class="avatar">
							<img src="./assets/img/avatar/avatar-1.svg" alt="">
							<div class="online"></div>
						</div>
						<p>{{ groupValue.receiver }}</p>
					</div>
					}
				}
			}
		</div>
	</div>
</div>