@import '../../shared/mixin.scss';

.site-menu {
  border-radius: 30px;
  background-color: #FFFFFF;

  >* {
    padding: 32px
  }
}

.devspace-container {
  @include displayFlex($jc: space-between);

  .devspace {
    @include displayFlex();
    gap: 16px;
  }
}

.channels-container,
.direct-messages {
  overflow: hidden;
}

.overview {
  @include displayFlex($jc: space-between);

  .left {
    @include displayFlex();
    gap: 16px;
  }

  .arrow {
    transform: rotate(-90deg);

    &.open {
      transform: rotate(0);
    }
  }

  .title {
    @include displayFlex();
    gap: 8px;
  }
}

.channel-container {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.open {
    height: auto;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.team-container:hover,
.direct-message:hover {
  border-radius: 25px;
  background-color: #ECEEFE;

  p {
    font-weight: 700;
    color: #535AF1;
  }
}

.team {
  padding: 8px 0;
}

.team,
.add-channel {
  @include displayFlex($jc: flex-start);
  gap: 8px;
  margin-left: 45px;
  margin-top: 16px;
}

.direct-messages {
  .overview {
    justify-content: flex-start;
    margin-bottom: 24px;

    .arrow {
      transform: rotate(-90deg);

      &.open {
        transform: rotate(0);
      }
    }

    .title {
      margin-left: 16px;
    }
  }

  .direct-message {
    @include displayFlex($jc: flex-start);
    gap: 16px;
    margin-top: 16px;
    margin-left: 40px;

    .avatar {
      position: relative;
      width: 50px;
      height: 50px;

      img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.directmessage-container {
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.open {
    height: auto;
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 400px) {
  .devspace-container {
    .devspace {
      gap: 8px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
