<div class="dialog-add-channel">

  <!-- Headline -->
  <div class="headline">
    <h3>Channel erstellen</h3>
    <div class="close-icon">
      <img class="c-pointer" src="./assets/img/thread/close.svg" alt="close-dialog" (click)="onNoClick()">
    </div>
  </div>

  <!-- Information text -->
  <p class="p-t-24">
    Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.
  </p>

  <!-- Input field channel name-->
  <div class="flex flex-column p-t-24">
    <p>Channel Name</p>
    <div class="channel-name-input">
      <img src="./assets/img/channels/tag-gray.svg" alt="">
      <input type="text" placeholder="z.B. Kooperationsprojekte" (keyup)="checkFields()" [(ngModel)]="name" required>
    </div>
  </div>

  <!-- Input field channel description -->
  <div class="flex flex-column p-t-24">
    <p class="font-weight-700">Beschreibung <span class="secondary-color font-weight-400">(optional)</span></p>
    <input class="input-description" type="text" placeholder="Dein Text hier" [(ngModel)]="description">
  </div>

  <!-- Create button -->
  <div class="actions">
    <button class="button1" [disabled]="disableButton" (click)="openDialog()">Erstellen</button>
  </div>
</div>
