@import '../../../shared/mixin.scss';

.profile-container {
	width: 420px;
	padding: 40px;
}

.profile {
	flex-direction: column;
}

.close {
	cursor: pointer;
}

.header,
.edit {
	@include displayFlex($jc: space-between);
}

.avatar {
	margin: 40px auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.input-element {
	@include displayFlex($jc: flex-start);
	gap: 16px;
}

.input-email {
	margin-top: 16px;
}

input {
	border: 1px solid #ADB0D9;
	padding-left: 32px;
	margin-top: 8px;
	padding: 16px 24px;
	border-radius: 30px;
	width: calc(100% - 64px);

	&:focus-visible {
		outline: none;
	}
}

.buttons {
	margin-top: 40px;
	justify-content: center;
	gap: 32px;
}

@media screen and (max-width: 630px) {
  .profile-container {
    width: 300px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }
}
