@import './../shared/mixin.scss';

.checkbox-privacy {
  margin-top: 32px;
  gap: 8px;
}

.privacy-text {
  font-size: 1rem;
}

.continue-button {
  @include displayFlex($jc: flex-end);
}

@media screen and (max-width: 630px) {
  .continue-button {
    margin-top: 32px;
  }
}
