@import './../shared/mixin.scss';

.profile {
  border-radius: 50%;
  border: 8px solid #FFFFFF;
  object-fit: cover;
  width: 168px;
  height: 168px;
  margin: 8px 0 32px;

  &:hover {
    border: 8px solid #E6E6E6;
  }
}

.subtitle {
  text-align: left;
  padding-top: 8px;
}

.avatar-images {
  @include displayFlex($jc: flex-start);
  flex-wrap: wrap;
  margin: 16px 0 32px;

  .avatar-img {
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    width: 56px;
    height: 56px;

    &:hover {
      border: 4px solid #ECEEFE;
    }
  }
}

.upload-image {
  @include displayFlex();
  flex-wrap: wrap;
  gap: 24px;
}

.continue-button {
  @include displayFlex($jc: flex-end);
}

.overlay {
  @include displayFlex($jc: flex-end, $ai: flex-end);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding-bottom: 32px;
  padding-right: 32px;

  .overlay-button {
    background-color: #444DF2;
    border-radius: 30px 30px 0 30px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 50px;
  }
}

@media screen and (max-width: 450px) {
  .upload-image {
    gap: 8px;
  }
}
