<form class="choose-avatar">
	<h1 class="blue-font">Wähle deinen Avatar</h1>
	<img class="profile" [src]="profilePicture" alt="">
	<h2 class="font-weight-700">{{ globalVariables.newMember ? globalVariables.newMember[0].member : '' }}</h2>
	<p class="subtitle">Aus der Liste wählen</p>
	<div class="avatar-images">
		@for (item of [1,2,3,4,5,6]; track $index) {
		<img (click)="addImage(item)" class="avatar-img" src="./assets/img/avatar/avatar-{{item}}.svg" alt="">
		}
	</div>
	<div class="upload-image">
		<p>eigenes Bild verwenden</p>
		<label id="button-file">
			<input type="file" (change)="handleFileInput($event)" />
			<p>Datei hochladen</p>
		</label>
	</div>
	<div class="buttons flex p-t-24">
		<button class="button1" (click)="addMember()" [disabled]="chooseImage">Weiter</button>
	</div>
</form>

@if (successSignIn) {
<div class="overlay">
	<div class="overlay-button">
		<p>Konto erfolgreich erstellt!</p>
	</div>
</div>
}