@import '../../shared/mixin.scss';

.chat-container {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 0 0 40px 0;
}

.chat-block {
  gap: 24px;
  padding: 32px;
}

@media screen and (max-width: 800px) {
  .chat {
    padding: 0 0 16px 0;
  }
}

@media screen and (max-width: 500px) {
  .headline {
    width: 120px;
  }
}

@media screen and (max-width: 380px) {
  .headline {
    width: 70px;
  }
}
