<div class="chat">
	@if (!globalVariables.create_new_chat) {
		<div class="info-top">
			<div (click)="openDialog()" class="team-name c-pointer">
				<img src="./assets/img/channels/tag.svg" alt="">
				@if (channels[0]) {
				<h3>{{ activeChat ? activeChat : channels[0].name }}</h3>
				}
				<img src="./assets/img/channels/arrow_drop_down.svg" alt="">
			</div>
			<div class="members">
				<div class="avatars">
					@if (getMembers().length == 0) {
					@if(channels[0]) {
					@for (avatar of channels[0].members; track avatar; let index = $index) {
					<img [src]="avatar['avatar']" alt="" [ngStyle]="{'margin-left.px': 3 * -7}">
					}
					}
					} @else {
					@for (avatar of getMembers(); track $index) {
					<img [src]="avatar['avatar']" alt="" [ngStyle]="{'margin-left.px': 3 * -7}">
					}
					}
				</div>
				<div class="quantity">
					@if (getMembers().length == 0) {
					@if (channels[0]) {
					<p>{{ channels[0].members.length }}</p>
					}
					} @else {
					<p>{{ getMembers().length }}</p>
					}
				</div>
				<div (click)="addMembers()" class="c-pointer">
					<img src="./assets/img/chat/chat-add-member.svg" alt="">
				</div>
			</div>
		</div>
		<div class="chat-block flex flex-column">
			@for (group of (this.channelFirestore.groupedMessages | keyvalue); track $index) {
			@if (group.key == globalVariables.activeChannel.name) {
				@for (dateGroup of (group.value | keyvalue); track $index) {
				<div class="date-block w-full">
					<div class="date">
						<p>{{ dateGroup.key }}</p>
					</div>

					@for (message of dateGroup.value; track $index) {
					<div class="message flex w-full" [ngClass]="{'reversed-message': globalVariables.signed_in_member.displayName === message.sender}">
						<img src="{{ message.avatar }}" alt="">
						<div class="message-text">
							<div class="top flex align-center gap-24">
								<p class="font-weight-700">{{ message.sender }}</p>
								<p class="font-small">{{ message.time }} Uhr</p>
							</div>
							<div class="text">
								<p>{{ message.text }}</p>
							</div>
							<div class="bottom flex align-center gap-24">
								<p (click)="start_thread(message)" class="blue-font c-pointer">Antworten</p>
								<p class="font-small">Letzte Antwort 14:56</p>
							</div>
						</div>
					</div>
					}
				</div>
				}
			}
			}
		</div>
		<app-writing-box [sendMessage]="'message'"></app-writing-box>
	} @else {
		<app-create-new-chat></app-create-new-chat>
	}
</div>
