<div class="chat">
	<div class="info-top">
		<div class="team-name">
			<img src="./assets/img/channels/tag.svg" alt="">
			<h3>Entwicklerteam</h3>
			<img src="./assets/img/channels/arrow_drop_down.svg" alt="">
		</div>
		<div class="members">
			<div class="avatars">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
			</div>
			<div class="quantity">
				<p>3</p>
			</div>
			<div class="add-member">
				<img src="./assets/img/chat/chat-add-member.svg" alt="">
			</div>
		</div>
	</div>
	<div class="chat-block">
		<div class="date-block">
			<div class="date">
				<p>Dienstag, 14 Januar</p>
			</div>
			<div class="message flex">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
				<div class="message-text">
					<div class="top flex align-center gap-24">
						<p class="font-weight-700">Noah Braun</p>
						<p class="font-small">14:25 Uhr</p>
					</div>
					<div class="text">
						<p>Welche Version ist aktuell von Angular?</p>
					</div>
					<div class="bottom flex align-center gap-24">
						<p class="blue-font">2 Antworten</p>
						<p class="font-small">Letzte Antwort 14:56</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>