@import '../../shared/mixin.scss';

.chat-container {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 0 0 40px 0;
}

.chat-block {
  gap: 24px;
  padding: 32px 0;
}

.no-active-channel {
  @include displayFlex();
  flex-direction: column;
  height: 400px;
  padding: 32px 24px 0;

  p {
    width: 60%;
    text-align: center;
    padding-top: 16px;
  }
}

@media screen and (max-width: 800px) {
  .chat {
    padding: 0 0 16px 0;
  }
}

@media screen and (max-width: 500px) {
  .headline {
    width: 120px;
  }
}

@media screen and (max-width: 380px) {
  .headline {
    width: 70px;
  }
}
