@import '../mixin.scss';

header {
  @include displayFlex($jc: space-between);
  padding: 24px 40px;
}

.registration {
  .sign-in {
    margin-top: 8px;
    padding: 8px 16px;

    &:hover {
      border: 1px solid #ADB0D9;
      border-radius: 25px;
    }
  }
}

.profile {
  @include displayFlex();
  gap: 24px;

  .profile-img {
    position: relative;

    img {
      border-radius: 50%;
    }
  }

  &:hover {
    color: #535AF1;

    .arrow-down {
      filter: invert(30%) sepia(77%) saturate(3654%) hue-rotate(231deg) brightness(99%) contrast(90%);
    }
  }
}

.lightbox {
  @include displayFlex();
  flex-direction: column;
  position: absolute;
  top: 105px;
  right: 44px;
  background-color: #FFFFFF;
  padding: 24px;
  box-shadow: 0px 6px 10px 0px #00000033;
  border-radius: 30px 0 30px 30px;
  min-width: 130px;
  gap: 8px;

  p {
    padding: 8px 0;

    &:hover {
      border-radius: 100px;
      width: 100%;
      text-align: center;
      background-color: #ECEEFE;
      color: #535AF1;
    }
  }
}

.online {
  width: 12px;
  height: 12px;
  background-color: #92C83E;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 0;
  border: 2px solid #FFFFFF;
}

.search-devspace {
  @include displayFlex($jc: right);
  position: relative;
  width: 49.41%;

  .search-input {
    border-radius: 40px;
    border: 0px;
    padding: 16px 40px;
    width: 100%;
  }

  img {
    position: absolute;
    right: 16px;
  }
}

.search-box {
  @include displayFlex();
  position: absolute;
  z-index: 99;
  top: 7%;
  width: 100%;

  .inner-box {
    border: 1px solid #ADB0D9;
    border-radius: 30px;
    background-color: #FFFFFF;
    width: 45%;
    padding: 16px;

    .element {
      border-radius: 30px;
      padding: 8px;

      &:hover {
        background-color: #ECEEFE;
        padding-right: 4px;
      }
    }
  }
}

input:focus-visible {
  outline: 0;
}

@media screen and (max-width: 900px) {
  .profile {
    .profile-name {
      max-width: 170px;
    }
  }
}

@media screen and (max-width: 700px) {
  .logo {
    width: 161px;
    height: 45px;
  }

  .profile {
    gap: 8px;

    .profile-name {
      display: none;
    }

    .profile-img {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  .lightbox {
    top: 80px;
    padding: 24px;
  }

  .online {
    width: 8px;
    height: 8px;
  }
}

@media screen and (max-width: 450px) {
  .registration {
    display: none;
  }
}
