<header>
  <!-- Logo -->
	<img class="logo" src="./assets/img/dabubble-logo.svg" alt="">

  <!-- Search bar -->
  <div class="searchbar-container">
    <div class="search-devspace">
      <input type="text" placeholder="Devspace durchsuchen" class="search-input" (keyup)="searchDevspace($event)">
      <img class="search-icon" src="./assets/img/search.svg" alt="Search">
    </div>
    <div *ngIf="inputValue" class="search-box">
      <div class="inner-box">
        @for (item of searchItems; track $index) {
          @if (item.channels?.length > 0) {
            <div class="font-weight-700">Channels</div>
            @for (channel of item.channels; track $index) {
              <div class="c-pointer element" (click)="openChat(channel.name)">
                {{ channel.name }}
              </div>
            }
          }

          @if (item.members?.length > 0) {
            <div class="font-weight-700">Members</div>
            @for (member of item.members; track $index) {
              <div class="c-pointer element" (click)="showDirectChat(member.member)">
                {{ member.member }}
              </div>
            }
          }
        } @empty {
          <p>Kein Treffer</p>
        }
      </div>
    </div>
  </div>

  <!-- Show on log-in -->
  @if (path == '/log-in') {
	<div class="registration">
		<p>Neu bei DaBubble?</p>
		<p class="sign-in blue-font c-pointer" [routerLink]="['/sign-in']">Konto erstellen</p>
	</div>
	}

  <!-- Show on main -->
	@if (isHomePath) {
	<div class="profile c-pointer" (click)="openLightbox()">
		@if (globalVariables.signed_in_member) {

    <!-- Profile name -->
		<h1 class="profile-name truncate">{{ globalVariables.signed_in_member.displayName }}</h1>

    <!-- Profile img -->
    <div class="profile-img">
      <img src="{{ globalVariables.signed_in_member.photoURL }}" width="70" height="70" alt="">
      @for (member of firestoreService.members; track $index) {
        @if (member.member === globalVariables.signed_in_member.displayName && member.isOnline) {
        <div class="online"></div>
        }
      }
		</div>
		}

		<img class="arrow-down" src="./assets/img/chat/arrow_down.svg" alt="">
	</div>
	}
</header>

@if (lightboxIsOpen) {
<div class="lightbox c-pointer">
	<p class="font-weight-700" (click)="openProfile()">Profil</p>
	<p class="font-weight-700" (click)="logOut()">Log out</p>
</div>
}
