<div class="writing-box w-full">

  <!-- Message input field-->
  <input class="w-full" #textField type="textarea" placeholder="Nachricht schreiben..." [(ngModel)]="description" (keyup)="checkTagMember($event)">

  <!-- Bottom bar-->
  <div class="bottom-icons">

    <!-- Reactions -->
    <div class="reactions flex">

      <div class="icon">
        <img src="./assets/img/chat/add-emoji.svg" alt="">
      </div>

      <div class="icon">
        <img class="c-pointer" src="./assets/img/chat/tag-people.svg" alt="" (click)="tagMember($event)">
      </div>
    </div>

    <!-- Send message -->
    <div class="send-message c-pointer">
      <img class="c-pointer" src="./assets/img/chat/send-message.svg" alt="" (click)="addMessage()">
    </div>
  </div>

  <app-members-box
    *ngIf="openMembersBox"
    class="members-box"
    [selectedMembers]="members"
    (newMember)="addNewMember($event)" />
</div>
