<div class="dialog-member-existing-channel">
	<div class="headline">
		<h3>Leute hinzufügen</h3>
		<img (click)="onNoClick()" src="./assets/img/thread/close.svg" alt="">
	</div>
	<div class="channel-name">
		<img src="./assets/img/channels/tag.svg" alt="">
		<p class="channel blue-font">{{ this.globalVariables.activeChat ? this.globalVariables.activeChat : channels[0].name}}</p>
	</div>
	<div class="certain-members-container">
		<div class="input-box">
			<div class="added-members"
				[ngStyle]="{'width': add_new_members_array.length > 0 ? '260px' : ''}">
				@for (item of selectedMember; track item; let index = $index) {
				<div class="member">
					<img src="{{ item.avatar }}" alt="">
					<p>{{ item.member }}</p>
					<img (click)="deleteMember(index)" class="cursorPointer" src="./assets/img/thread/close.svg" alt="">
				</div>
				}
			</div>
			<input (click)="showMemberBox()" type="text" placeholder="Name eingeben">
		</div>
    @if (notIncludedMembers.length > 0) {
      <app-members-box></app-members-box>
    }
	</div>
	<div class="actions">
		<button (click)="addToChannel()" class="button1" [disabled]="newMemberTrue">Hinzufügen</button>
	</div>
</div>
