<div class="create-new-chat">

  <!-- Header -->
  <app-top-bar-container>
    <h3>Neue Nachricht</h3>
    <input type="text" [placeholder]="placeholder_value" [(ngModel)]="name" (keyup)="observe_input()">
    <app-members-box *ngIf="openMemberBox" (newMember)="addMemberToInput($event)" />
  </app-top-bar-container>

  <!-- Mainpage -->
  <div class="chat-block flex align-end">
    <p>Starte einen neuen Chat!</p>
  </div>

  <!-- Writing box -->
  <app-writing-box
    [sendMessage]="'create_new_message'"
    [name]="name"
    [is_createNewChat_open]="true" />
</div>
