<div class="create-new-chat">
	<div class="info-top">
		<h3>Neue Nachricht</h3>
		<input type="text" placeholder="An: #channel, oder @jemand oder E-Mail Adresse">
	</div>
	<div class="chat-block flex"></div>
	<div class="writing-box">
		<input type="text" placeholder="Nachricht schreiben...">
		<div class="bottom-icons">
			<div class="reactions">
				<img src="./assets/img/chat/add-reaction.svg" alt="">
				<img src="./assets/img/chat/add-emoji.svg" alt="">
				<img src="./assets/img/chat/tag-people.svg" alt="">
			</div>
			<div class="send-message">
				<img src="./assets/img/chat/send-message.svg" alt="">
			</div>
		</div>
	</div>
</div>