@import '../../shared/mixin.scss';

.input-element {
  @include displayFlex($jc:flex-start);
  background-color: #ECEEFE;
	border-radius: 30px;
	margin-top: 40px;
	padding: 12px 32px;

	input {
		border: none;
		background-color: transparent;
		padding-left: 32px;

		&:focus-visible {
			border: none;
			outline: none;
		}
	}

	p {
		padding-left: 24px;
	}
}
