<form [formGroup]="password_form" class="reset-password">
	<div class="headline">
		<img [routerLink]="['/log-in']" src="./assets/img/sign-in/back-arrow.svg" alt="">
		<h1 class="blue-font">Passwort zurücksetzen</h1>
	</div>
	<p class="tac p-t-32">Bitte geben Sie Ihre E-Mail-Adresse ein.</p>
	<div class="input-element input-email">
		<img src="./assets/img/log-in/mail.svg" alt="">
		<input type="email" name="email" placeholder="beispielname@email.com" formControlName="email">
	</div>
	@if(this.password_form.get('email')?.invalid && this.password_form.get('email')?.touched) {
		<span class="error-message">Gib eine gültige Email ein</span>
	}
	<p class="tac p-t-32">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</p>
	<div class="buttons flex">
		<button type="submit" class="button1" [disabled]="!password_form.valid" (click)="sendEmail()">E-Mail senden</button>
	</div>
</form>