@import '../../mixin.scss';

.message {
  position: relative;
  margin-top: 32px;

  .message-container {
    padding: 8px 32px;
  }

  img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }

  .text {
    @include displayFlex($jc: flex-start);

    p,
    input {
      border: none;
      background-color: #ECEEFE;
      border-radius: 0 30px 30px 30px;
      padding: 15px;
    }

    margin: 8px 0;
  }

  &:hover {
    background-color: #ECEEFE;

    app-reaction-message-bar {
      display: block;
    }

    .text {

      p,
      input {
        background-color: #FFFFFF;
      }
    }
  }
}

app-reaction-message-bar {
  display: none;
}

.message-text {
  margin-left: 32px;
}

.reversed-message {
  flex-direction: row-reverse;
  width: auto;

  .message-text {
    margin-left: 0;
    margin-right: 32px;

    .top {
      flex-direction: row-reverse;
    }

    .text {
      @include displayFlex($jc: flex-end);

      p,
      input {
        border-radius: 30px 0 30px 30px;
        background-color: #797EF3;
        color: #FFFFFF;
      }
    }
  }
}

.editModus {
  background-color: #ECEEFE;

  &:hover {
    app-reaction-message-bar {
      display: none;
    }
  }

  .edit-container {
    border-radius: 20px !important;
    border: 1px solid #ADB0D9;
    background-color: #FFFFFF !important;

    input {
      background-color: #FFFFFF !important;
      color: #686868 !important;

      &:focus-visible {
        outline: none;
      }
    }

    .buttons {
      gap: 32px;
      padding: 0 15px 15px;
    }
  }
}

@media screen and (max-width: 500px) {
  .message {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .message-text {
    margin-left: 16px;
  }

  .blue-font {
    font-size: 0.777rem;
  }
}

@media screen and (max-width: 450px) {
  .bottom {
    justify-content: flex-end;

    p+p {
      display: none;
    }
  }
}
