<main>
  <div class="container flex w-full">

    <!-- Sitemenu -->
    <app-site-menu class="site-menu"
      [class.fullscreen]="isMobile && globalVariables.showMenu"
      [class.hidden]="isMobile && (globalVariables.showChat || globalVariables.showDirectMessagesChat || globalVariables.showThreads)"
      (mobileClickedChat)="openChannel()"
      (mobileClickedDirectChat)="openDirectMessagesChat()" />

    <!-- Show channel or directmessage -->
    <ng-container *ngIf="!globalVariables.showDirectMessagesChat; else directmessageChat" [ngTemplateOutlet]="channel" />

    <!-- Channel -->
    <ng-template #channel>
      <app-chat class="channel"
        [class.fullscreen]="isMobile && globalVariables.showChat"
        [class.hidden]="(isMobile && (globalVariables.showMenu || globalVariables.showThreads)) || isTabletSize && globalVariables.showThreads"
        (mobileClickedThread)="openThread()"
        (currentMessage)="messageForThread($event)" />
    </ng-template>

    <!-- Directmessage -->
    <ng-template #directmessageChat>
      <app-directmessages-chat class="direct-messages-chat"
        [class.fullscreen]="isMobile && globalVariables.showDirectMessagesChat"
        [class.hidden]="isMobile && globalVariables.showMenu" />
    </ng-template>

    <!-- Thread -->
    <app-thread-reply *ngIf="globalVariables.showThreads" class="thread"
      [class.fullscreen]="isMobile && globalVariables.showThreads"
      [class.hidden]="isMobile && globalVariables.showMenu"
      [messageToReplyTo]="currentMessage" />
  </div>

  <!-- Information Text -->
  <div *ngIf="globalVariables.verifyText" class="overlay w-full h-full">
    <div class="overlay-button">
      <p>Bitte schaue in dein Postfach und verifiziere deine Email!</p>
    </div>
  </div>
</main>
