<main>
  <div class="container flex w-full">

    <!-- Sitemenu -->
    <app-site-menu
      [ngClass]="{'showContainer': globalVariables.showMenu}"
      (mobileClickedChat)="openChat()"
      (mobileClickedDirectChat)="openDirectChat()" />

    <!-- Chat -->
    <ng-container *ngIf="!globalVariables.showDirectChat; else directmessageChat"
      [ngTemplateOutlet]="channel" />

    <!-- Channel -->
    <ng-template #channel>
      <app-chat
        [ngClass]="{'showContainer': globalVariables.showChat, 'full-width': !globalVariables.showThreads, 'hide-on-small': globalVariables.showThreads}"
        (mobileClickedThread)="openThread()"
        (currentMessage)="message_for_thread($event)" />
    </ng-template>

    <!-- Directmessage -->
    <ng-template #directmessageChat>
      <app-directmessages-chat
        [ngClass]="{'showContainer': globalVariables.showDirectChat, 'full-width': !globalVariables.showThreads, 'hide-on-small': globalVariables.showThreads}" />
    </ng-template>

    <app-thread-reply *ngIf="globalVariables.showThreads"
      [ngClass]="{'showContainer': globalVariables.showThreads}"
      [messageToReplyTo]="currentMessage" />
  </div>

  <!-- Information Text -->
  <div *ngIf="globalVariables.verifyText" class="overlay w-full h-full">
    <div class="overlay-button">
      <p>Bitte schaue in dein Postfach und verifiziere deine Email!</p>
    </div>
  </div>
</main>
