@import '../../shared/mixin.scss';

.threads {
  border-radius: 30px;
	background-color: #FFFFFF;
  padding: 0 0 40px 0;
}

.chat-block {
	flex-direction: column;
	gap: 24px;
  padding: 32px;

	.answer-number-text {
		@include displayFlex($jc: space-between);
		gap: 16px;
		color: #ADB0D9;

		&::after {
			content: "";
			width: 65%;
			height: 1px;
			background-color: #ADB0D9;
			display: flex;
		}
	}
}

@media screen and (max-width: 800px) {
  .threads {
    padding: 0 0 16px 0;

    >* {
      padding: 16px;
    }
  }
}
