<div class="threads">
  <div class="info-top">
    <div class="thread-name">
      <h3>Thread</h3>
      <p class="font-small blue-font"># {{ messageToReplyTo.channel }}</p>
    </div>
    <img (click)="close_thread()" class="c-pointer" src="./assets/img/thread/close.svg" alt="">
  </div>
  <div class="chat-block flex">
    <app-message [style]="{'width': '100%'}" [threadMessage]="true" [message]="messageToReplyTo"></app-message>
    <div class="answers-number">
      <p class="answer-number-text">{{ answerLength }} {{ answerLength == 1 ? 'Antwort' : 'Anworten'}}</p>
    </div>
    @for (group of (this.firestoreService.groupedThreads | keyvalue); track $index) {
    @if (group.key == (activeChat ? globalVariables.activeChannel.name : globalVariables.channelWithLoggedInUser.name)) {
    @for (dateGroup of (group.value | keyvalue); track $index) {
    <app-date-block-message [dateGroup]="dateGroup" [threadMessage]="true"
      [messageToReplyTo]="messageToReplyTo"></app-date-block-message>
    }
    }
    }
  </div>
  <app-writing-box [sendMessage]="'thread'" [messageToReplyTo]="messageToReplyTo"></app-writing-box>
</div>
