<div class="threads">
	<div class="info-top">
		<div class="thread-name">
			<h3>Thread</h3>
			<p># Entwicklerteam</p>
		</div>
		<img src="./assets/img/thread/close.svg" alt="">
	</div>
	<div class="chat-block flex">
		<div class="date-block">
			<div class="message flex">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
				<div class="message-text">
					<div class="top flex align-center gap-24">
						<p class="font-weight-700">Noah Braun</p>
						<p class="font-small">14:25 Uhr</p>
					</div>
					<div class="text">
						<p>Welche Version ist aktuell von Angular?</p>
					</div>
				</div>
			</div>
		</div>
		<div class="answers-number">
			<p class="answer-number-text">2 Antworten</p>
		</div>
		<div class="date-block">
			<div class="message flex">
				<img src="./assets/img/channels/avatar-1.svg" alt="">
				<div class="message-text">
					<div class="top flex align-center gap-24">
						<p class="font-weight-700">Noah Braun</p>
						<p class="font-small">14:25 Uhr</p>
					</div>
					<div class="text">
						<p>Welche Version ist aktuell von Angular?</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>