@import '../../../mixin.scss';

.dialog-member-existing-channel {
	border-radius: 30px 0 30px 30px !important;
  min-width: 500px;
	padding: 40px !important;
}

.headline {
	@include displayFlex($jc: space-between);
}

.channel-name {
	@include displayFlex($jc:flex-start);
	gap: 8px;
	margin-top: 8px;
}

// input {
// 	border: 0;
// }

// .input-box {
// 	@include displayFlex($jc: flex-start);
// 	border-radius: 30px;
// 	padding: 16px 24px;
// 	margin-top: 24px;
// 	border: 1px solid #ADB0D9;
// 	width: calc(100% - 48px);
// 	gap: 8px;

// 	&:focus-within {
// 		border: 2px solid black;
// 	}

// 	input:focus-visible {
// 		outline: 0;
// 	}

// 	.added-members {
// 		@include displayFlex($jc: flex-start);
// 		overflow-x: scroll;

// 		.member {
// 			@include displayFlex();
//       border-radius: 30px;
//       background-color: #ECEEFE;
// 			gap: 16px;
// 			padding: 5px 8px;

// 			img {
//         border-radius: 50%;
// 				width: 34px;
// 				height: 34px;
// 			}

// 		}
// 	}
// }

.actions {
	@include displayFlex($jc: flex-end);
	margin-top: 24px;
}

@media screen and (max-width: 730px) {
  .dialog-member-existing-channel {
    min-width: 400px;
  }
}

@media screen and (max-width: 630px) {
  .dialog-member-existing-channel {
    min-width: auto;
    padding: 16px!important;
  }
}
