@import '../../../mixin.scss';

.dialog-member-existing-channel {
	border-radius: 30px 0 30px 30px !important;
  min-width: 500px;
	padding: 40px !important;
}

.headline {
	@include displayFlex($jc: space-between);
}

.channel-name {
	@include displayFlex($jc:flex-start);
	gap: 8px;
	margin-top: 8px;
}

.actions {
	@include displayFlex($jc: flex-end);
	margin-top: 24px;
}

@media screen and (max-width: 730px) {
  .dialog-member-existing-channel {
    min-width: 400px;
  }
}

@media screen and (max-width: 630px) {
  .dialog-member-existing-channel {
    min-width: auto;
    padding: 16px!important;
  }
}
