<div class="dialog-member-existing-channel">

  <!-- Headline -->
	<div class="headline">
		<h3>Leute hinzufügen</h3>
    <div class="close-icon">
      <img class="c-pointer" src="./assets/img/thread/close.svg" alt="close-icon" (click)="onNoClick()">
    </div>
	</div>

  <!-- Channel name -->
	<div class="channel-name">
		<img src="./assets/img/channels/tag.svg" alt="">
		<p class="channel blue-font">{{ this.globalVariables.activeChannel.name}}</p>
	</div>

  <!-- Add members -->
  <app-input-select-members
    [alreadyExistingMembers]="alreadyAddedMembers"
    (membersEvent)="checkMemberLength($event)" />

  <!-- Add button -->
	<div class="actions">
		<button class="button1" [disabled]="disabledButton" (click)="addToChannel()">Hinzufügen</button>
	</div>
</div>
