<div class="reaction-bar" [ngClass]="{'reversed-direction': !messageIsEditable}">

  <!-- Add reaction -->
   <div class="reaction-icon">
    <img class="c-pointer" src="./assets/img/message/add_reaction.svg" alt="">
   </div>

  <!-- Add comment -->
   <div class="comment-icon">
    <img class="c-pointer" src="./assets/img/message/comment.svg" alt="" (click)="openThreadMessages()">
   </div>

  <!-- Edit message -->
  @if (messageIsEditable) {
    <div class="more-vert-icon c-pointer" (click)="openBoxEditMessage()">
      <img src="./assets/img/message/more_vert.svg" alt="">
    </div>

    <!-- Overlay edit message -->
    <app-edit-message-button (click)="editMessage()" [boxEditMessageIsOpen]="boxEditMessageIsOpen" />
  }
</div>
