@import '../../../shared/mixin.scss';

.chat {
  border-radius: 30px;
  background-color: #FFFFFF;
  padding: 0 0 40px 0;
}

.chat-block {
  gap: 24px;
  padding: 32px 0;
}

@media screen and (max-width: 800px) {
  .chat {
    padding: 0 0 16px 0;
  }
}
