<div class="chat">
  <div class="info-top">
    <div (click)="openDialog()" class="team-name c-pointer">
      <img class="avatar" src="{{ activeMember[0].avatar }}" alt="">
      <h3>{{ globalVariables.active_privatechat }}</h3>
      <img src="./assets/img/channels/arrow_drop_down.svg" alt="">
    </div>
  </div>
  <div class="chat-block flex flex-column">
    <ng-container *ngFor="let group of (this.firestoreService.groupedDirectMessages | keyvalue); trackBy: trackByFn">
      <ng-container *ngIf="isRelevantGroup(group.key)">
        <ng-container *ngFor="let dateGroup of (group.value | keyvalue); trackBy: trackByFn">
          <app-date-block-message [dateGroup]="dateGroup"></app-date-block-message>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <app-writing-box [sendMessage]="'direct_message'" [activeMember]="activeMember"></app-writing-box>
</div>
