@import '../../../mixin.scss';

.profile-container {
  width: 420px;
  padding: 40px;
}

.header, .edit {
  @include displayFlex($jc: space-between);
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 40px auto;
}

.edit-text {
  &:hover {
    font-weight: 700;
  }
}

.active {
  @include displayFlex($jc: flex-start);
  gap: 16px;
  margin-top: 16px;

  p {
    color: #686868;
  }

  &::before {
    content: '';
    display: flex;
    border-radius: 50%;
    background-color: #92C83E;
    width: 16px;
    height: 16px;
  }
}

.email {
  @include displayFlex($jc: flex-start);
  gap: 16px;
  margin: 40px 0 16px;
}

.email-address {
  margin-left: 40px;
}

@media screen and (max-width: 630px) {
  .profile-container {
    width: auto;
    padding: 16px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }
}
