@import '../../shared/mixin.scss';

.profile-container {
	width: 420px;
	padding: 40px;
}

.profile {
	flex-direction: column;
}

.close {
	cursor: pointer;
}

.header,
.edit {
	@include displayFlex($jc: space-between);
}

.avatar {
	margin: 40px auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.active {
	@include displayFlex($jc: flex-start);
	margin-top: 16px;
	gap: 16px;
	color: #92C83E;

	&::before {
		content: '';
		display: flex;
		width: 16px;
		height: 16px;
		background-color: #92C83E;
		border-radius: 50%;
	}
}

.email {
	@include displayFlex($jc: flex-start);
	gap: 16px;
	margin: 40px 0 16px;
}

.email-address {
	margin-left: 40px;
}