<div class="date-block w-full">
  @if (!threadMessage) {
  <div class="date">
    <p>{{ dateGroup.key | date:'d.MM.YYYY' }}</p>
  </div>
  }

  <!-- ng-content verwenden -->

  @for (message of dateGroup.value; track $index) {
  <app-message *ngIf="!threadMessage || (threadMessage && message.message.text === messageToReplyTo.text)"
    [style]="{'width': '100%'}" [message]="message" [threadMessage]="threadMessage" [chatMessage]="chatMessage" (currentMessage)="currentMessage_for_thread($event)"></app-message>
  }
</div>
