@import '../../shared/mixin.scss';

.dialog-add-channel {
	border-radius: 30px !important;
	padding: 40px !important;
	//width: 45.416%;
}

.headline {
	@include displayFlex($jc: space-between);
}

.content {
	flex-direction: column;

	p {
		font-weight: 700;
	}

	.channel-name-input,
	.input-description {
		width: auto;
		border: 1px solid #ADB0D9;
		border-radius: 30px;
		padding: 16px 24px;
		margin-top: 16px;
	}

	.channel-name-input {
		@include displayFlex($jc:flex-start);
		position: relative;
		gap: 8px;

		&:focus-within {
			border: 2px solid black;
		}

		input:focus-visible {
			outline: 0;
		}
	}

	input {
		border: 0;
	}
}

.actions {
	@include displayFlex($jc:flex-end);
	margin-top: 24px;
}