@import './../shared/mixin.scss';

.or-container {
  @include displayFlex();
	position: relative;

	p {
    position: relative;
		z-index: 1;
		background-color: #FFFFFF;
		padding: 0 16px;
	}

	.line {
    position: absolute;
    background-color: #ADB0D9;
		height: 1px;
	}
}

.google-login {
  @include displayFlex();
  border-radius: 30px;
  gap: 16px;
  background-color: #ECEEFE;
	margin-top: 40px;
	padding: 12px 32px;

	&:hover {
    font-weight: 700;
  }
}

.buttons {
	gap: 32px;
	margin-top: 40px;
}

.registration {
  display: none;
}

@media screen and (max-width: 450px) {
  .log-in {
    padding: 50px 16px;
  }

  .registration {
    @include displayFlex($jc:flex-start);
    flex-direction: column;
    margin-top: 32px;
  }

  .input-element {
    width: auto;

    input {
      padding-left: 8px;
    }
  }

  .buttons {
    flex-direction: column;
    gap: 16px;
  }
}
