<app-auth-container
  class="w-full"
  title="Anmeldung"
  text="Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.">

  <form class="w-full" [formGroup]="form">

    <!-- Input field email -->
    <app-input
      type="email"
      icon="./assets/img/log-in/mail.svg"
      placeholder="name@email.com"
      [control]="form.get('email')" />

    <!-- Error message -->
    @if(this.form.get('email')?.invalid && this.form.get('email')?.touched) {
      <span class="error-message">Gib eine gültige Email ein</span>
    }

    <!-- Input field password -->
    <app-input
      type="password"
      icon="./assets/img/log-in/lock.svg"
      placeholder="Passwort"
      [control]="form.get('password')" />

    <!-- Error message -->
    @if(this.form.get('password')?.invalid && this.form.get('password')?.touched) {
      <span class="error-message">Gib dein Passwort ein</span>
    }

    <!-- TODO: reset password -->
    <!-- <p [routerLink]="['/reset-password']" class="forgot-password c-pointer blue-font p-t-40">Passwort vergessen?</p> -->

    <!-- or container -->
    <div class="or-container w-full p-t-40">
      <p>ODER</p>
      <div class="line w-full"></div>
    </div>

    <!-- Google auth -->
    <div class="google-login c-pointer" (click)="googleAuth()">
      <img src="./assets/img/log-in/google.svg" alt="">
      <p class="blue-font">Anmelden mit Google</p>
    </div>

    <!-- Actions -->
    <div class="buttons flex justify-center">
      <button type="submit" class="button1" [disabled]="!form.valid" (click)="login()">Anmelden</button>
      <button type="button" class="button2" (click)="guestLogin()">Gäste-Login</button>
    </div>
  </form>
</app-auth-container>

<div class="registration">
  <p>Neu bei DaBubble?</p>
  <p class="blue-font c-pointer" [routerLink]="['/sign-in']">Konto erstellen</p>
</div>
