@import './../shared/mixin.scss';

.auth-container {
  @include displayFlex($jc:flex-start);
	flex-direction: column;
  border-radius: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  background-color: #FFFFFF;
	padding: 50px 60px;
}

.headline {
  @include displayFlex($ai: flex-start);

  img {
    position: relative;
    top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .auth-container {
    padding: 32px;
  }
}
