@import './../shared/mixin.scss';

.auth-container {
  @include displayFlex($jc:flex-start);
	flex-direction: column;
  background-color: #FFFFFF;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
	border-radius: 30px;
	width: auto;
	padding: 50px 60px;
}

.headline {
  @include displayFlex($ai: flex-start);
  position: relative;

  img {
    position: absolute;
    top: 5px;
    left: 0;
  }
}
