<div class="input-box">

  <!-- new members -->
  <div class="added-members" [ngStyle]="{'width': selectedMembers.length > 0 ? '260px' : ''}">
    @for (item of selectedMembers; track item; let index = $index) {
    <div class="member">
      <img class="avatar" src="{{ item.avatar }}" alt="">
      <p>{{ item.member }}</p>
      <img (click)="deleteMember(index)" class=" close c-pointer" src="./assets/img/thread/close.svg" alt="">
    </div>
    }
  </div>
  <input type="text" placeholder="Gib hier den Namen ein" class="certain-members-input">
</div>

<!-- Members box -->
<app-members-box
  [selectedMembers]="members"
  (newMember)="addNewMember($event)" />
