<ng-container *ngIf="(this.alreadyExistingMembers.length - 1) != numberOfParticipants; else allParticipantsIncluded" [ngTemplateOutlet]="inputFieldForMembers"></ng-container>

<!-- Show member box -->
<ng-template #inputFieldForMembers>
  <div class="input-box">

    <!-- added members -->
    <div class="added-members" [ngClass]="{'flex': selectedMembers.length > 0, 'd-none': selectedMembers.length == 0}" [ngStyle]="{'width': selectedMembers.length > 0 ? '260px' : ''}">
      @for (item of selectedMembers; track item; let index = $index) {
      <div class="member">
        <img class="avatar" src="{{ item.avatar }}" alt="">
        <p>{{ item.member }}</p>
        <img (click)="deleteMember(index)" class=" close c-pointer" src="./assets/img/thread/close.svg" alt="">
      </div>
      }
    </div>

    <input type="text" placeholder="Gib hier den Namen ein" class="certain-members-input" (keyup)="searchMember($event)">
  </div>
</ng-template>

<!-- Show allParticipantsIncluded -->
<ng-template #allParticipantsIncluded>
  <p class="p-t-24">Alle Teilnehmer sind bereits in diesem Kanal.</p>
</ng-template>

<!-- Members box -->
<app-members-box *ngIf="showMembersBox"
  [selectedMembers]="allMembersForMembersBox"
  (newMember)="addNewMember($event)" />
