* {
  margin: 0;
}

// display
.flex {
  display: flex;
}

.none {
  display: none;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

// flex
.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

// gap
.gap-24 {
  gap: 24px;
}

// text
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tac {
  text-align: center;
}

// font-color
.blue-font {
  color: #535AF1;
}

.secondary-color {
  color: #686868;
}

// font-size
h3 {
  font-size: 1.333rem;
}

.font-small {
  font-size: 0.777rem;
}

// font-weight
.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

// padding
.p-t-16 {
  padding-top: 16px;
}

.p-t-24 {
  padding-top: 24px;
}

.p-t-32 {
  padding-top: 32px;
}

.p-t-40 {
  padding-top: 40px;
}

// margin
.m-t-16 {
  margin-top: 16px;
}

// input
input {
  font-family: 'Nunito';
  font-size: 18px;
}

input[type="file"] {
  display: none;
}

// Buttons
button {
  cursor: pointer;
}

.button1 {
  border: none;
  border-radius: 25px;
  background-color: #444DF2;
  padding: 12px 25px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;

  &:hover:enabled {
    opacity: 0.6;
  }
}

.button2 {
  border: 1px solid #444DF2;
  border-radius: 25px;
  background-color: transparent;
  padding: 12px 25px;
  color: #444DF2;
  font-weight: 700;
  font-size: 1rem;

  &:hover {
    background-color: #444DF2;
    color: #FFFFFF;
  }
}

button:disabled {
  opacity: 0.4;
}

// error-message
.error-message {
  width: 100%;
  color: red;
  font-size: 0.8rem;
}

// cursor
.c-pointer {
  cursor: pointer;
}

// width, height
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

// close-icon
.close-icon {
  height: 40px;

  &:hover {
    border-radius: 50%;
    background-color: #ECEEFE;

    img {
      filter: invert(30%) sepia(77%) saturate(3654%) hue-rotate(231deg) brightness(99%) contrast(90%);
    }
  }
}

.mat-mdc-dialog-container {
  width: auto;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
  width: auto !important;
}

app-log-in,
app-registration,
app-choose-avatar,
app-reset-password,
app-new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 606px;
  height: 100%;
  margin: 32px auto;
}

app-writing-box {
  padding: 0 !important;
  display: flex;
}

.mobile-arrow {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile-arrow {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  app-log-in,
  app-registration,
  app-choose-avatar,
  app-reset-password,
  app-new-password {
    max-width: 100%;
    margin: 0 8px 16px;
  }
}

@media screen and (max-width: 630px) {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: 100% !important;
    margin: 0 64px;
  }

  .mdc-dialog__container {
    width: 100vw;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    width: 100% !important;
  }
}

@media screen and (max-width: 550px) {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    margin: 0 8px;
  }
}

@media screen and (max-width: 475px) {
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  app-log-in {
    flex-direction: column;
  }
}
