<div class="dialog-add-channel flex flex-column">

  <!-- Headline -->
	<div class="headline">
		<h3>Leute hinzufügen</h3>
    <div class="c-pointer close-icon">
      <img src="./assets/img/thread/close.svg" alt="close-overlay" (click)="onNoClick()">
    </div>
	</div>

  <mat-radio-group class="flex flex-column p-t-24" aria-label="Select an option" (change)="checkMembers($event.value)">
    <!-- Add all team members -->
    <mat-radio-button value="allMembers">Alle Mitglieder von Office Team hinzufügen</mat-radio-button>

    <!-- Add certain members -->
    <mat-radio-button value="certainMembers">Bestimmte Leute hinzufügen</mat-radio-button>
  </mat-radio-group>

  <!-- Choose members to add -->
  <app-input-select-members *ngIf="isCertainMembers" (membersEvent)="checkMemberLength($event)" />

  <!-- Add members button -->
	<div class="actions">
		<button class="button1" (click)="addMembers()" [disabled]="disabledButton" [mat-dialog-close]="data">Erstellen</button>
	</div>
</div>
