@import '../../../mixin.scss';

.dialog-add-channel {
  border-radius: 30px !important;
  padding: 40px !important;
}

.headline {
  @include displayFlex($jc: space-between);
}

.actions {
  @include displayFlex($jc: flex-end);
  margin-top: 24px;
}

@media screen and (max-width: 630px) {
  .dialog-add-channel {
    padding: 16px !important;
  }
}
